In [3]:
import pandas as pd
import numpy as np

In [4]:
df_account = pd.read_csv('data/AccountData.csv')  # AccountData
# df_statement = pd.read_csv(STATEMENT_PATH)
# df = preprocess_data(df_account, df_statement)
# print(df.head(3))
# print(df.columns)

In [5]:
df_account.columns

Index(['custid', 'name', 'national', 'resident', 'industry', 'sector',
       'branch', 'actype', 'accountno', 'ccy', 'category', 'acbal', 'lcyacbal',
       'mbservice', 'ibservice', 'acservice', 'kyc', 'inactive', 'mobileno',
       'opendate', 'ldrdate', 'lcrdate', 'dob'],
      dtype='object')

In [6]:
df_account['branch'].value_counts()

branch
12    14414
1      1953
90        8
13        4
11        2
15        2
Name: count, dtype: int64

In [7]:
def column_mapping(file_path, old_column, new_column):
    cols = pd.read_json(file_path)
    mapping = dict(
        zip(cols[old_column], cols[new_column])
    )
    return mapping

In [8]:
branch_code_to_name = column_mapping('data/Branch.json','Code','Desc')

In [ ]:
df_account['bank_branch_account'] = pd.to_numeric(df_account['branch'], errors='coerce')

In [12]:
df_account["bank_branch_account"] = df_account["bank_branch_account"].map(branch_code_to_name).fillna('BBRANCH')

In [13]:
df_account['bank_branch_account'].value_counts()

bank_branch_account
DAMAULI BRANCH        14414
CORPORATE OFFICE       1953
BBRANCH                   8
BHAIRAHAWA BRANCH         4
POKHARA BRANCH            2
MAHENDRAPUL BRANCH        2
Name: count, dtype: int64

In [15]:
df_statement = pd.read_csv('data/StmtData.csv')

In [16]:
df_statement.columns

Index(['stmtid', 'accountno', 'branch', 'custid', 'txncode', 'txnrefno',
       'narration', 'txndate', 'valuedate', 'ccy', 'amount', 'lcyamount',
       'excrate', 'ourref', 'systemid', 'override', 'inuser', 'indatetime',
       'authuser', 'audatetime', 'userbranch'],
      dtype='object')

In [22]:
df_statement['branch'].value_counts()

branch
1     5048
12    2818
90      10
11       6
Name: count, dtype: int64

In [19]:
df_statement['userbranch'].value_counts()

userbranch
BNK    7882
Name: count, dtype: int64

In [21]:
df_statement['bank_branch_account'] = pd.to_numeric(df_statement['branch'], errors='coerce')
df_statement["bank_branch_account"] = df_statement["bank_branch_account"].map(branch_code_to_name).fillna('BBRANCH')

In [23]:
df_statement['bank_branch_account'].value_counts()

bank_branch_account
CORPORATE OFFICE    5048
DAMAULI BRANCH      2818
BBRANCH               10
POKHARA BRANCH         6
Name: count, dtype: int64

In [25]:
df_account.head(10)

,custid,name,national,resident,industry,sector,branch,actype,accountno,ccy,...,ibservice,acservice,kyc,inactive,mobileno,opendate,ldrdate,lcrdate,dob,bank_branch_account
0,444500,DEEPAK DHAMI,NP,NP,9009,1500,1,21,012104445004,NPR,...,True,True,True,False,9848627268,01-Jul-18,05-Jan-25,02-Jan-25,03-Apr-52,CORPORATE OFFICE
1,100199,UPENDRA P. SUBEDI,NP,NP,9009,1500,1,18,011801001998,NPR,...,True,True,True,False,9841464720,13-Sep-17,10-Jan-25,16-Apr-19,14-Jul-42,CORPORATE OFFICE
2,67038,SIDDHI BHANDARI,NP,NP,9009,1500,1,99,019900670380,NPR,...,True,False,True,True,9841369614,08-Jul-10,08-Jul-10,08-Jul-10,15-Sep-35,CORPORATE OFFICE
3,67441,SHOBHA SHRESTHA,NP,NP,9009,1500,1,21,012100674414,NPR,...,False,False,True,False,9856041044,02-Mar-08,24-Apr-19,11-Jan-25,29-Jan-36,CORPORATE OFFICE
4,444277,APURVA RAUNIYAR,NP,NP,9009,1500,1,21,012104442772,NPR,...,True,True,True,False,9823452053,25-Sep-17,03-Jan-25,05-Jan-25,12-Nov-50,CORPORATE OFFICE
5,403653,DIBYA RAJ POKHAREL,NP,NP,9009,1500,1,21,012104036537,NPR,...,False,True,True,False,9842072607,03-Aug-12,02-Jan-25,28-Apr-19,28-Sep-37,CORPORATE OFFICE
6,164201,BIKRAM PRAJAPATI,NP,NP,9009,1500,1,18,011801642016,NPR,...,False,True,True,False,9841745446,17-Oct-17,19-Dec-18,01-Feb-18,05-Oct-45,CORPORATE OFFICE
7,444370,BISHAL KHANAL,NP,NP,9009,1500,1,21,012104443702,NPR,...,True,True,True,False,9845212172,14-Feb-18,25-Apr-19,25-Mar-19,11-Nov-46,CORPORATE OFFICE
8,683010,SAROJ JAIRU,NP,NP,9009,1500,1,21,012106830108,NPR,...,True,True,True,False,9816349098,08-Jul-18,10-Jan-25,26-Dec-24,17-Jul-49,CORPORATE OFFICE
9,683204,GIRWAN BIKRAM THAPA,NP,NP,9009,1500,1,21,012106832045,NPR,...,True,True,True,False,9802005050,05-Mar-19,08-Jan-25,25-Apr-19,07-May-49,CORPORATE OFFICE

In [26]:
df_account['dob'].value_counts()

dob
  -   -      7472
01-Jan-45       9
15-Jun-38       7
01-Jan-16       7
15-Aug-36       7
             ...
07-Jul-34       1
09-Mar-49       1
16-Oct-53       1
16-Feb-44       1
01-Nov-24       1
Name: count, Length: 6282, dtype: int64

In [34]:
df = pd.merge(df_account, df_statement, 
                     on=['custid', 'accountno', 'branch'], 
                     how='inner', 
                     suffixes=('_account', '_transaction'))

In [35]:
df.columns

Index(['custid', 'name', 'national', 'resident', 'industry', 'sector',
       'branch', 'actype', 'accountno', 'ccy_account', 'category', 'acbal',
       'lcyacbal', 'mbservice', 'ibservice', 'acservice', 'kyc', 'inactive',
       'mobileno', 'opendate', 'ldrdate', 'lcrdate', 'dob',
       'bank_branch_account_account', 'stmtid', 'txncode', 'txnrefno',
       'narration', 'txndate', 'valuedate', 'ccy_transaction', 'amount',
       'lcyamount', 'excrate', 'ourref', 'systemid', 'override', 'inuser',
       'indatetime', 'authuser', 'audatetime', 'userbranch',
       'bank_branch_account_transaction'],
      dtype='object')

In [36]:
df.shape

(4297, 43)

In [39]:
len(df_account.columns), len(df_statement.columns), len(df.columns)

(24, 22, 43)

In [38]:
df['ccy_account'].value_counts()

ccy_account
NPR    4069
USD     140
INR      35
EUR      26
JPY      15
9.9       7
AUD       2
GBP       2
1.2       1
Name: count, dtype: int64