In [1]:
import pandas as pd
import numpy as np

In [2]:
df_account = pd.read_csv('data/AccountData.csv')  # AccountData
# df_statement = pd.read_csv(STATEMENT_PATH)
# df = preprocess_data(df_account, df_statement)
# print(df.head(3))
# print(df.columns)

In [3]:
df_account.columns

Index(['custid', 'name', 'national', 'resident', 'industry', 'sector',
       'branch', 'actype', 'accountno', 'ccy', 'category', 'acbal', 'lcyacbal',
       'mbservice', 'ibservice', 'acservice', 'kyc', 'inactive', 'mobileno',
       'opendate', 'ldrdate', 'lcrdate', 'dob'],
      dtype='object')

In [4]:
df_account.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16383 entries, 0 to 16382
Data columns (total 23 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   custid     16383 non-null  int64
 1   name       16383 non-null  object
 2   national   16383 non-null  object
 3   resident   16383 non-null  object
 4   industry   16383 non-null  object
 5   sector     16383 non-null  object
 6   branch     16383 non-null  int64
 7   actype     16383 non-null  int64
 8   accountno  16383 non-null  object
 9   ccy        16383 non-null  object
 10  category   16383 non-null  object
 11  acbal      16383 non-null  float64
 12  lcyacbal   16383 non-null  float64
 13  mbservice  16383 non-null  bool
 14  ibservice  16383 non-null  bool
 15  acservice  16383 non-null  bool
 16  kyc        16383 non-null  bool
 17  inactive   16383 non-null  bool
 18  mobileno   16280 non-null  object
 19  opendate   16383 non-null  object
 20  ldrdate    16383 non-null  object
 21  lcrdate    16383 non-null  object
 22  dob        16383 non-null  object
dtypes: bool(5), float64(2), int64(3), object(13)
memory usage: 2.3+ MB

In [5]:
df_account.isnull().sum()

custid         0
name           0
national       0
resident       0
industry       0
sector         0
branch         0
actype         0
accountno      0
ccy            0
category       0
acbal          0
lcyacbal       0
mbservice      0
ibservice      0
acservice      0
kyc            0
inactive       0
mobileno     103
opendate       0
ldrdate        0
lcrdate        0
dob            0
dtype: int64

In [7]:
df_account['mobileno'] = df_account['mobileno'].fillna('Unknown')

In [8]:
df_account['mobileno'].isnull().sum()

0

In [9]:
df_account['dob'].value_counts()

dob
  -   -      7472
01-Jan-45       9
15-Jun-38       7
01-Jan-16       7
15-Aug-36       7
             ...
07-Jul-34       1
09-Mar-49       1
16-Oct-53       1
16-Feb-44       1
01-Nov-24       1
Name: count, Length: 6282, dtype: int64

In [10]:
# Check personal accounts with missing DOB
missing_dob_personal = df_account[(df_account['dob'].isna()) | (df_account['dob'] == '  -   -')]

In [11]:
missing_dob_personal

,custid,name,national,resident,industry,sector,branch,actype,accountno,ccy,...,mbservice,ibservice,acservice,kyc,inactive,mobileno,opendate,ldrdate,lcrdate,dob
10,295,NEPAL CREDIT AND COMMERCE BANK,NP,NP,4005,1100,1,45,014500002955,NPR,...,False,False,True,False,False,Unknown,- -,09-Jan-25,- -,- -
19,284,NEPAL RASTRA BANK,NP,NP,4000,3000,1,45,014500002843,NPR,...,False,False,True,False,False,Unknown,- -,05-Jan-25,- -,- -
30,295,NEPAL CREDIT AND COMMERCE BANK,NP,NP,4005,1100,1,45,014500002958,NPR,...,False,False,False,True,False,20020417,20-Aug-02,05-Jan-25,- -,- -
33,147625,AMAR MAHARJAN,NP,NP,9009,1500,1,18,011801476256,NPR,...,True,False,True,True,False,9841253331,25-Jan-18,03-Jan-25,02-Jan-25,- -
38,147731,NURSING ASSOCIATION OF NEPAL,NP,NP,9010,9010,1,1,011 01477314,NPR,...,False,False,False,True,False,9841453977,23-Jul-17,09-Jan-25,02-Feb-62,- -
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16371,587392,DANU MAYA KUMAL,NP,NP,9008,1500,12,22,122205873927,NPR,...,False,False,False,True,False,9816640541,23-Oct-17,03-Feb-19,24-Nov-24,- -
16372,62339,BIMAL CHANDRA POUDEL,NP,NP,9008,1500,12,40,124000623394,NPR,...,False,False,False,True,True,20080127,03-Jul-15,14-Jun-15,25-Aug-45,- -
16374,63958,MAHESH GAUTAM,NP,NP,9008,1500,12,40,124000639589,NPR,...,False,False,False,True,False,20080907,10-Sep-09,01-Sep-09,16-Jan-40,- -
16375,242543,BHAGAWATI THAPA CHHETRI,NP,NP,9008,1500,12,23,122302425435,NPR,...,False,False,True,False,True,9846131391,05-Mar-12,05-Mar-12,15-Feb-39,- -
16380,182566,MOTISARA KUMAL,NP,NP,9008,1500,12,23,122301825665,NPR,...,False,False,False,True,False,20100728,03-Aug-11,06-Sep-10,13-May-40,- -

In [12]:
missing_dob_personal['sector'].value_counts()

sector
1500    6938
1100      98
1450      73
1000      63
1300      63
9010      49
3000      42
1550      35
1050      26
1350      24
4250      14
1400      10
9000      10
1200       9
4005       4
2000       3
1150       3
2010       2
9005       2
1250       1
4055       1
9008       1
NP         1
Name: count, dtype: int64

:

In [ ]:

    
    # Check non-personal accounts with DOB
    invalid_dob_non_personal = non_personal_df[
        (~non_personal_df['dob'].isna()) & 
        (non_personal_df['dob'] != '  -   -')
    ]

In [7]:
def column_mapping(file_path, old_column, new_column):
    cols = pd.read_json(file_path)
    mapping = dict(
        zip(cols[old_column], cols[new_column])
    )
    return mapping

In [8]:
branch_code_to_name = column_mapping('data/Branch.json','Code','Desc')

In [ ]:
df_account['bank_branch_account'] = pd.to_numeric(df_account['branch'], errors='coerce')

In [12]:
df_account["bank_branch_account"] = df_account["bank_branch_account"].map(branch_code_to_name).fillna('BBRANCH')

In [13]:
df_account['bank_branch_account'].value_counts()

bank_branch_account
DAMAULI BRANCH        14414
CORPORATE OFFICE       1953
BBRANCH                   8
BHAIRAHAWA BRANCH         4
POKHARA BRANCH            2
MAHENDRAPUL BRANCH        2
Name: count, dtype: int64

In [15]:
df_statement = pd.read_csv('data/StmtData.csv')

In [16]:
df_statement.columns

Index(['stmtid', 'accountno', 'branch', 'custid', 'txncode', 'txnrefno',
       'narration', 'txndate', 'valuedate', 'ccy', 'amount', 'lcyamount',
       'excrate', 'ourref', 'systemid', 'override', 'inuser', 'indatetime',
       'authuser', 'audatetime', 'userbranch'],
      dtype='object')

In [22]:
df_statement['branch'].value_counts()

branch
1     5048
12    2818
90      10
11       6
Name: count, dtype: int64

In [19]:
df_statement['userbranch'].value_counts()

userbranch
BNK    7882
Name: count, dtype: int64

In [21]:
df_statement['bank_branch_account'] = pd.to_numeric(df_statement['branch'], errors='coerce')
df_statement["bank_branch_account"] = df_statement["bank_branch_account"].map(branch_code_to_name).fillna('BBRANCH')

In [23]:
df_statement['bank_branch_account'].value_counts()

bank_branch_account
CORPORATE OFFICE    5048
DAMAULI BRANCH      2818
BBRANCH               10
POKHARA BRANCH         6
Name: count, dtype: int64

In [25]:
df_account.head(10)

,custid,name,national,resident,industry,sector,branch,actype,accountno,ccy,...,ibservice,acservice,kyc,inactive,mobileno,opendate,ldrdate,lcrdate,dob,bank_branch_account
0,444500,DEEPAK DHAMI,NP,NP,9009,1500,1,21,012104445004,NPR,...,True,True,True,False,9848627268,01-Jul-18,05-Jan-25,02-Jan-25,03-Apr-52,CORPORATE OFFICE
1,100199,UPENDRA P. SUBEDI,NP,NP,9009,1500,1,18,011801001998,NPR,...,True,True,True,False,9841464720,13-Sep-17,10-Jan-25,16-Apr-19,14-Jul-42,CORPORATE OFFICE
2,67038,SIDDHI BHANDARI,NP,NP,9009,1500,1,99,019900670380,NPR,...,True,False,True,True,9841369614,08-Jul-10,08-Jul-10,08-Jul-10,15-Sep-35,CORPORATE OFFICE
3,67441,SHOBHA SHRESTHA,NP,NP,9009,1500,1,21,012100674414,NPR,...,False,False,True,False,9856041044,02-Mar-08,24-Apr-19,11-Jan-25,29-Jan-36,CORPORATE OFFICE
4,444277,APURVA RAUNIYAR,NP,NP,9009,1500,1,21,012104442772,NPR,...,True,True,True,False,9823452053,25-Sep-17,03-Jan-25,05-Jan-25,12-Nov-50,CORPORATE OFFICE
5,403653,DIBYA RAJ POKHAREL,NP,NP,9009,1500,1,21,012104036537,NPR,...,False,True,True,False,9842072607,03-Aug-12,02-Jan-25,28-Apr-19,28-Sep-37,CORPORATE OFFICE
6,164201,BIKRAM PRAJAPATI,NP,NP,9009,1500,1,18,011801642016,NPR,...,False,True,True,False,9841745446,17-Oct-17,19-Dec-18,01-Feb-18,05-Oct-45,CORPORATE OFFICE
7,444370,BISHAL KHANAL,NP,NP,9009,1500,1,21,012104443702,NPR,...,True,True,True,False,9845212172,14-Feb-18,25-Apr-19,25-Mar-19,11-Nov-46,CORPORATE OFFICE
8,683010,SAROJ JAIRU,NP,NP,9009,1500,1,21,012106830108,NPR,...,True,True,True,False,9816349098,08-Jul-18,10-Jan-25,26-Dec-24,17-Jul-49,CORPORATE OFFICE
9,683204,GIRWAN BIKRAM THAPA,NP,NP,9009,1500,1,21,012106832045,NPR,...,True,True,True,False,9802005050,05-Mar-19,08-Jan-25,25-Apr-19,07-May-49,CORPORATE OFFICE

In [26]:
df_account['dob'].value_counts()

dob
  -   -      7472
01-Jan-45       9
15-Jun-38       7
01-Jan-16       7
15-Aug-36       7
             ...
07-Jul-34       1
09-Mar-49       1
16-Oct-53       1
16-Feb-44       1
01-Nov-24       1
Name: count, Length: 6282, dtype: int64

In [34]:
df = pd.merge(df_account, df_statement, 
                     on=['custid', 'accountno', 'branch'], 
                     how='inner', 
                     suffixes=('_account', '_transaction'))

In [35]:
df.columns

Index(['custid', 'name', 'national', 'resident', 'industry', 'sector',
       'branch', 'actype', 'accountno', 'ccy_account', 'category', 'acbal',
       'lcyacbal', 'mbservice', 'ibservice', 'acservice', 'kyc', 'inactive',
       'mobileno', 'opendate', 'ldrdate', 'lcrdate', 'dob',
       'bank_branch_account_account', 'stmtid', 'txncode', 'txnrefno',
       'narration', 'txndate', 'valuedate', 'ccy_transaction', 'amount',
       'lcyamount', 'excrate', 'ourref', 'systemid', 'override', 'inuser',
       'indatetime', 'authuser', 'audatetime', 'userbranch',
       'bank_branch_account_transaction'],
      dtype='object')

In [36]:
df.shape

(4297, 43)

In [39]:
len(df_account.columns), len(df_statement.columns), len(df.columns)

(24, 22, 43)

In [38]:
df['ccy_account'].value_counts()

ccy_account
NPR    4069
USD     140
INR      35
EUR      26
JPY      15
9.9       7
AUD       2
GBP       2
1.2       1
Name: count, dtype: int64

In [40]:
import re

In [41]:
def clean_text(text):
    """
    Clean text by removing special characters and standardizing format
    """
    if pd.isna(text) or not isinstance(text, str):
        return text
    
    # Remove special characters and standardize
    cleaned = text.strip()
    cleaned = re.sub(r'[()[\]{}]', '', cleaned)  # Remove brackets and parentheses
    cleaned = re.sub(r'\s+', ' ', cleaned)  # Standardize spaces
    cleaned = re.sub(r'^\-+|\-+$', '', cleaned)  # Remove leading/trailing hyphens
    cleaned = re.sub(r'\-+', '-', cleaned)  # Standardize multiple hyphens to single
    cleaned = re.sub(r'[\*\#\@\!\?\;\:]', '', cleaned)  # Remove other special characters
    return cleaned.strip()

In [42]:
def clean_account_data(df):
    """
    Clean and standardize account data
    """
    # Create a copy to avoid modifying original data
    df = df.copy()
    
    # Convert column names to snake_case for consistency
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    
    # Clean text in all string columns
    object_columns = df.select_dtypes(include=['object']).columns
    for col in object_columns:
        df[col] = df[col].apply(clean_text)
    
    # Clean date columns - handle various date formats
    date_columns = ['account_open_date', 'last_debit_date', 'last_credit_date', 'date_of_birth']
    for col in date_columns:
        # First, clean any special characters in date strings
        df[col] = df[col].str.replace(r'[^\d\-\s\/\.]', '', regex=True)
        # Try multiple date formats
        df[col] = pd.to_datetime(df[col], format='%d-%b-%y', errors='coerce')
        # For any failed conversions, try different formats
        mask = df[col].isna()
        if mask.any():
            df.loc[mask, col] = pd.to_datetime(df.loc[mask, col], errors='coerce')
    
    # Clean numeric columns - handle special characters and convert to numeric
    numeric_columns = ['account_balance', 'local_currency_balance']
    for col in numeric_columns:
        if df[col].dtype == 'object':
            # Remove currency symbols, commas, and other special characters
            df[col] = df[col].astype(str).str.replace(r'[^\d\-\.]', '', regex=True)
        df[col] = pd.to_numeric(df[col], errors='coerce')
    
    # Convert boolean columns to proper boolean type
    boolean_columns = ['mobile_banking', 'internet_banking', 'account_service', 
                      'kyc_status', 'account_inactive']
    for col in boolean_columns:
        # Handle various representations of True/False
        df[col] = df[col].str.lower() if df[col].dtype == 'object' else df[col]
        df[col] = df[col].map({
            'true': True, 'yes': True, '1': True, 't': True, 'y': True,
            'false': False, 'no': False, '0': False, 'f': False, 'n': False
        })
    
    # Clean and standardize categorical columns
    df['nationality'] = df['nationality'].str.upper().str.strip()
    df['residency_status'] = df['residency_status'].str.upper().str.strip()
    df['customer_industry'] = df['customer_industry'].apply(lambda x: 
        re.sub(r'\*+', '', str(x)).title().strip())  # Remove asterisks
    df['economic_sector'] = df['economic_sector'].apply(lambda x: 
        re.sub(r'\*+', '', str(x)).title().strip())
    df['bank_branch'] = df['bank_branch'].str.title().str.strip()
    df['account_type'] = df['account_type'].str.title().str.strip()
    df['currency_code'] = df['currency_code'].str.upper().str.strip()
    df['account_category'] = df['account_category'].str.title().str.strip()
    
    # Clean mobile number
    df['mobile_number'] = df['mobile_number'].apply(lambda x: 
        re.sub(r'[^\d]', '', str(x)) if pd.notnull(x) else '')
    
    # Handle missing values
    df['account_balance'] = df['account_balance'].fillna(0)
    df['local_currency_balance'] = df['local_currency_balance'].fillna(0)
    df['mobile_number'] = df['mobile_number'].fillna('')
    
    # Add derived columns
    df['account_age_days'] = (pd.Timestamp.now() - df['account_open_date']).dt.days
    df['customer_age'] = (pd.Timestamp.now() - df['date_of_birth']).dt.years
    
    # Create account status column based on balance and activity
    df['account_status'] = np.where(df['account_inactive'], 'Inactive',
                                  np.where(df['account_balance'] < 0, 'Overdrawn', 'Active'))
    
    # Clean customer_id - remove any non-numeric characters if it's meant to be numeric
    df['customer_id'] = pd.to_numeric(df['customer_id'].astype(str).str.replace(r'\D', '', regex=True), 
                                    errors='coerce')
    
    # Sort by customer_id for consistency
    df = df.sort_values('customer_id')
    
    # Reset index
    df = df.reset_index(drop=True)
    
    return df

In [43]:
def generate_data_quality_report(df_original, df_cleaned):
    """
    Generate a report showing the impact of data cleaning
    """
    report = {
        'original_rows': len(df_original),
        'cleaned_rows': len(df_cleaned),
        'missing_values_before': df_original.isnull().sum().to_dict(),
        'missing_values_after': df_cleaned.isnull().sum().to_dict(),
        'unique_values': {col: df_cleaned[col].nunique() for col in df_cleaned.columns},
        'data_types': df_cleaned.dtypes.to_dict(),
        'special_chars_removed': {
            col: sum(df_original[col].astype(str).str.contains(r'[()[\]{}\*\#\@\!\?\;\:]', regex=True))
            for col in df_original.columns if df_original[col].dtype == 'object'
        }
    }
    return report

In [44]:
df = pd.read_csv('data/AccountData.csv')
    
# Clean the data
cleaned_df = clean_account_data(df)
    
# Generate quality report
quality_report = generate_data_quality_report(df, cleaned_df)
    
# return cleaned_df, quality_report

KeyError: 'account_open_date'