## Read and Clean Data with EDA Reports

In [72]:
import pandas as pd

In [73]:
account_df = pd.read_csv('../data/AccountData.csv')  # AccountData

### Column rename & Code mapping

In [74]:
ACCOUNT_COLUMNS = '../data/account_column_names.json' # AccountData column names

BRANCH = '../data/branch.json' # Branch code to name
ACCOUNTTYPE = '../data/accounttype.json' # Account code to name
INDUSTRY = '../data/industry.json' # Industry code to name
SECTOR = '../data/sector.json' # Sector code to name
CATEGORY = '../data/category.json' # Category code to name

In [75]:

# Rename existing columns to more descriptive names
 
read_columns = pd.read_json(ACCOUNT_COLUMNS)
column_mapping = dict(zip(read_columns['column'], read_columns['column_name']))
account_df.rename(columns=column_mapping, inplace=True)

In [76]:
account_df.columns

Index(['customer_id', 'customer_name', 'nationality', 'residency_status',
       'customer_industry', 'economic_sector', 'bank_branch', 'account_type',
       'account_number', 'currency_code', 'account_category',
       'account_balance', 'local_currency_balance', 'mobile_banking',
       'internet_banking', 'account_service', 'kyc_status', 'account_inactive',
       'mobile_number', 'account_open_date', 'last_debit_date',
       'last_credit_date', 'date_of_birth'],
      dtype='object')

#### Rename the branch, account, industry, sector and category codes to their respective names
#### Steps should also replicate with other CSV data.

In [77]:
# Rename the branch, account, industry, sector and category codes to their respective names

def column_mapping(file_path, old_column, new_column):
    cols = pd.read_json(file_path)
    mapping = dict(
        zip(cols[old_column], cols[new_column])
    )
    return mapping

branch = column_mapping(BRANCH, 'Code', 'Desc') # Code: values in dataframe, Desc: code description or name
accounttype = column_mapping(ACCOUNTTYPE, 'Code', 'Desc') # Code: values in dataframe, Desc: code description or name
industry = column_mapping(INDUSTRY, 'Code', 'Desc') # Code: values in dataframe, Desc: code description or name
sector = column_mapping(SECTOR, 'Code', 'Desc') # Code: values in dataframe, Desc: code description or name
category = column_mapping(CATEGORY, 'Code', 'Desc') # Code: values in dataframe, Desc: code description or name

In [78]:
account_df.columns

Index(['customer_id', 'customer_name', 'nationality', 'residency_status',
       'customer_industry', 'economic_sector', 'bank_branch', 'account_type',
       'account_number', 'currency_code', 'account_category',
       'account_balance', 'local_currency_balance', 'mobile_banking',
       'internet_banking', 'account_service', 'kyc_status', 'account_inactive',
       'mobile_number', 'account_open_date', 'last_debit_date',
       'last_credit_date', 'date_of_birth'],
      dtype='object')

In [80]:
# Map the codes to their respective names

# Convert the columns values to specific data type if needed
# Replace unwanted values other than numeric with 0000
account_df['bank_branch'] = pd.to_numeric(account_df['bank_branch'], errors='coerce') #TEST
account_df['account_type'] = pd.to_numeric(account_df['account_type'], errors='coerce')
account_df['customer_industry'] = pd.to_numeric(account_df['customer_industry'], errors='coerce')
account_df['economic_sector'] = pd.to_numeric(account_df['economic_sector'], errors='coerce')
account_df['account_category'] = pd.to_numeric(account_df['account_category'], errors='coerce')


# Use renamed columns name here. For example, actype > account_type
# Fill the NaN vlaues with some default like 'NA_BRANCH' or 'NA_ACCOUNTTYPE'

account_df["bank_branch"] = account_df["bank_branch"].map(branch).fillna('NA_BRANCH')
account_df["account_type"] = account_df["account_type"].map(accounttype).fillna('NA_ACCOUNTTYPE')
account_df["customer_industry"] = account_df["customer_industry"].map(industry).fillna('NA_INDUSTRY')
account_df["economic_sector"] = account_df["economic_sector"].map(sector).fillna('NA_SECTOR')
account_df["account_category"] = account_df["account_category"].map(category).fillna('NA_CATEGORY')

# Steps should also replicate with other CSV data.
# bank_branch, customer_industry, economic_sector, account_category can still be shortened to branch, industry, sector, category

# Replace spaces with underscores
# account_df.columns = account_df.columns.str.replace(' ', '_')

In [81]:
# Renaming columns: As Applicable

account_df.rename(columns={'bank_branch': 'branch', 'customer_industry': 'industry', 'economic_sector': 'sector', 'account_category':'category'}, inplace=True)
account_df.columns

Index(['customer_id', 'customer_name', 'nationality', 'residency_status',
       'industry', 'sector', 'branch', 'account_type', 'account_number',
       'currency_code', 'category', 'account_balance',
       'local_currency_balance', 'mobile_banking', 'internet_banking',
       'account_service', 'kyc_status', 'account_inactive', 'mobile_number',
       'account_open_date', 'last_debit_date', 'last_credit_date',
       'date_of_birth'],
      dtype='object')

In [82]:
account_df[['branch', 'account_type', 'industry', 'sector', 'category']].head(10)

,branch,account_type,industry,sector,category
0,CORPORATE OFFICE,Savings account - staff,STAFF,LOCAL - PERSONS,Savings Account (STAFF)
1,CORPORATE OFFICE,NA_ACCOUNTTYPE,STAFF,LOCAL - PERSONS,NA_CATEGORY
2,CORPORATE OFFICE,All Other Types,STAFF,LOCAL - PERSONS,Margin on Goods for Payments
3,CORPORATE OFFICE,Savings account - staff,STAFF,LOCAL - PERSONS,Savings Account (STAFF)
4,CORPORATE OFFICE,Savings account - staff,STAFF,LOCAL - PERSONS,Savings Account (STAFF)
5,CORPORATE OFFICE,Savings account - staff,STAFF,LOCAL - PERSONS,Savings Account (STAFF)
6,CORPORATE OFFICE,NA_ACCOUNTTYPE,STAFF,LOCAL - PERSONS,NA_CATEGORY
7,CORPORATE OFFICE,Savings account - staff,STAFF,LOCAL - PERSONS,Savings Account (STAFF)
8,CORPORATE OFFICE,Savings account - staff,STAFF,LOCAL - PERSONS,Savings Account (STAFF)
9,CORPORATE OFFICE,Savings account - staff,STAFF,LOCAL - PERSONS,Savings Account (STAFF)

In [83]:
account_df['branch'].value_counts()

branch
DAMAULI BRANCH        14414
CORPORATE OFFICE       1953
NA_BRANCH                 8
BHAIRAHAWA BRANCH         4
POKHARA BRANCH            2
MAHENDRAPUL BRANCH        2
Name: count, dtype: int64

In [124]:
account_df['industry'].value_counts()[::5]

industry
INDIVIDUALS               14019
OTHERS                       62
INSURANCE COMPANIES          24
OTHER SERVICE INDUSTRY        6
NEPAL POLICE                  3
RICE & PULSE                  3
GEMS & JEWELLERY              2
TRUSTS                        2
***TRADE & COMMERCE***        1
Name: count, dtype: int64

In [123]:
account_df['sector'].value_counts()[::5]

sector
LOCAL - PERSONS                        15674
NON-GOVERNMENTAL ORGANISATION (NGO)       90
LOCAL - PRIVATE                           14
INTERNATIONAL CORPORATE                    1
Name: count, dtype: int64

In [122]:
account_df['category'].value_counts()[::5]

category
Savings Account(DAM)                  3828
Savings Account (STAFF)               1199
Current Account with 1000 Min Bal      167
Nostro A/c - NRB                        40
Margin on Guarantee                     27
Atm Rec / Payable Accounts              12
Overdraft Account - Privelage Loan       8
Margin on Letter of Credit               6
Overdraft Account - Trading              1
Name: count, dtype: int64

In [116]:
account_df['account_type'].value_counts()[:5]

account_type
Savings regular & convertible    6523
Pewa Bachat Account              2407
Yuba Bachat Khata                1967
Savings Account(Salary A/C)      1616
Savings account - staff          1199
Name: count, dtype: int64

#### Check Duplicates

In [179]:
account_df.duplicated().sum()

1

In [180]:
dup = account_df.duplicated()

In [181]:
dup[dup == True]

1905    True
dtype: bool

In [182]:
# Get the duplicated row indexes & row

account_df.iloc[dup[dup == True].index]

,customer_id,customer_name,nationality,residency_status,industry,sector,branch,account_type,account_number,currency_code,...,mobile_banking,internet_banking,account_service,kyc_status,account_inactive,mobile_number,account_open_date,last_debit_date,last_credit_date,date_of_birth
1905,284,NEPAL RASTRA BANK,NP,NP,***FINANCE & FIN. INST.***,NA_SECTOR,CORPORATE OFFICE,Nostro,1.450000e+10,USD,...,False,False,True,False,False,0.0,- -,- -,- -,- -

In [183]:
# Drop the duplicated rows
account_df.drop_duplicates(inplace=True)

In [184]:
account_df.duplicated().sum()  # Check if there are any duplicates

0

### Check & Change Column Type

#### Check duplicates first

In [185]:
account_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16381 entries, 0 to 16382
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             16381 non-null  int32
 1   customer_name           16381 non-null  object
 2   nationality             16381 non-null  object
 3   residency_status        16381 non-null  object
 4   industry                16381 non-null  object
 5   sector                  16381 non-null  object
 6   branch                  16381 non-null  object
 7   account_type            16381 non-null  object
 8   account_number          16381 non-null  float32
 9   currency_code           16381 non-null  object
 10  category                16381 non-null  object
 11  account_balance         16381 non-null  float32
 12  local_currency_balance  16381 non-null  float32
 13  mobile_banking          16381 non-null  bool
 14  internet_banking        16381 non-null  bool
 15  account_service         16381 non-null  bool
 16  kyc_status              16381 non-null  bool
 17  account_inactive        16381 non-null  bool
 18  mobile_number           16381 non-null  float32
 19  account_open_date       16381 non-null  object
 20  last_debit_date         16381 non-null  object
 21  last_credit_date        16381 non-null  object
 22  date_of_birth           16381 non-null  object
dtypes: bool(5), float32(4), int32(1), object(13)
memory usage: 2.1+ MB

In [ ]:
# Account Number and Mobile No should be Numeric

In [108]:
account_df['mobile_number'].isnull().sum()

102

In [ ]:
# Fill empty mobile numbers with 0000000000

account_df.fillna({'mobile_number': 0000000000}, inplace=True)

In [111]:
account_df['mobile_number'].isnull().sum()

0

In [112]:
account_df['mobile_number'].value_counts()

mobile_number
0000000000    102
20171022       43
9.78E+12       35
20091206       33
20170908       32
             ...
9846088976      1
9843507814      1
9819120294      1
9813756685      1
9844408236      1
Name: count, Length: 13210, dtype: int64

In [115]:
account_df['mobile_number'].info()

<class 'pandas.core.series.Series'>
Index: 16382 entries, 0 to 16382
Series name: mobile_number
Non-Null Count  Dtype
--------------  -----
16382 non-null  object
dtypes: object(1)
memory usage: 256.0+ KB

In [142]:
account_df['account_number'].info()

<class 'pandas.core.series.Series'>
Index: 16382 entries, 0 to 16382
Series name: account_number
Non-Null Count  Dtype
--------------  -----
16382 non-null  object
dtypes: object(1)
memory usage: 256.0+ KB

In [169]:
# Convert account_number and mobile_number to numeric. Non-numeric values are replaced with NaN

account_df['account_number'] = pd.to_numeric(account_df['account_number'], errors='coerce')
account_df['mobile_number'] = pd.to_numeric(account_df['mobile_number'], errors='coerce')

In [170]:
# convert all data of column to some specific type

float_cols = account_df.select_dtypes(include=['float64']).columns
account_df[float_cols] = account_df[float_cols].astype('float32')
int_cols = account_df.select_dtypes(include=['int64']).columns
account_df[int_cols] = account_df[int_cols].astype('int32')

In [171]:
account_df.fillna({'mobile_number': 0000000000}, inplace=True)
account_df.fillna({'account_number': 0000000000}, inplace=True)

In [174]:
account_df['mobile_number'].info()

<class 'pandas.core.series.Series'>
Index: 16382 entries, 0 to 16382
Series name: mobile_number
Non-Null Count  Dtype
--------------  -----
16382 non-null  float32
dtypes: float32(1)
memory usage: 192.0 KB

In [173]:
account_df['account_number'].isnull().head(10)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: account_number, dtype: bool

In [186]:
account_df.duplicated().sum() # Check if there are any duplicates

0

### After rename and type conversion check the data

In [187]:
# Performance upgrade: Category Mapping should be done

account_df['category'].value_counts().to_frame('count').reset_index()

                               category  count
0                  Savings Account(DAM)   3828
1                           NA_CATEGORY   2661
2                   Pewa Bachat Account   2405
3                     YUBA BACHAT KHATA   1967
4           Saving Account (Salary A/C)   1604
5               Savings Account (STAFF)   1199
6                         SAMMAN BACHAT    686
7                       Savings Account    644
8       Current Ac with 100 Bal LAG IND    278
9                       Current Account    212
10    Current Account with 1000 Min Bal    167
11                CALL DEPOSIT Tax 15 %    134
12             Nostro A/c - Local Banks     81
13                Uchcha Siksha Bachat.     77
14             Margin on Locker Deposit     66
15                     Nostro A/c - NRB     39
16           Nostro A/c - Foreign Banks     38
17              REMITTANCE BACHAT KHATA     37
18                Royal Savings Account     34
19             Sajilo Sana Udhami Karja     28
20                  Margin on Guarantee     27
21        Saving Account (Share Holder)     17
22         Margin on Goods for Payments     16
23           Pos Rec / Paybale Accounts     15
24         Saving Account(Salary Min 0)     13
25           Atm Rec / Payable Accounts     12
26   Current Account with 0 Min Balance     12
27                EDUCATION LOAN MARGIN     10
28    Overdraft Account - Mortgage Loan     10
29         Savings Account-15% TAX RATE      9
30   Overdraft Account - Privelage Loan      8
31          visa Rec / Paybale Accounts      8
32            Call Account-0 % TAX RATE      7
33                  MACH SAVING DEPOSIT      7
34             Saving Account (Disable)      7
35           Margin on Letter of Credit      6
36           Margin on Loans & Advances      3
37                        MARGIN OTHERS      2
38              MBL NRN SAVING DEPOSIT.      1
39                   ***Margin Accounts      1
40          Overdraft Account - Trading      1
41           MBL PREMIUM SAVING ACCOUNT      1
42        Other Working Capital Account      1
43      Current Ac with 7500 Bal LAG CO      1
44  Yuva tatha sana byabasayi krishi ka      1

In [188]:
account_df.isnull().sum()

customer_id               0
customer_name             0
nationality               0
residency_status          0
industry                  0
sector                    0
branch                    0
account_type              0
account_number            0
currency_code             0
category                  0
account_balance           0
local_currency_balance    0
mobile_banking            0
internet_banking          0
account_service           0
kyc_status                0
account_inactive          0
mobile_number             0
account_open_date         0
last_debit_date           0
last_credit_date          0
date_of_birth             0
dtype: int64

In [190]:
account_df['local_currency_balance'].head(10)

0    142204.687500
1    -28299.210938
2         0.000000
3     18971.880859
4     26203.029297
5      2817.879883
6   -300000.000000
7     28696.849609
8     -4485.819824
9     -6999.580078
Name: local_currency_balance, dtype: float32

### Dates

In [192]:
# Date related columns
dates = ['account_open_date', 'date_of_birth', 'last_debit_date','last_credit_date']

In [193]:
account_df[dates].head(10)

  account_open_date date_of_birth last_debit_date last_credit_date
0         01-Jul-18     03-Apr-52       05-Jan-25        02-Jan-25
1         13-Sep-17     14-Jul-42       10-Jan-25        16-Apr-19
2         08-Jul-10     15-Sep-35       08-Jul-10        08-Jul-10
3         02-Mar-08     29-Jan-36       24-Apr-19        11-Jan-25
4         25-Sep-17     12-Nov-50       03-Jan-25        05-Jan-25
5         03-Aug-12     28-Sep-37       02-Jan-25        28-Apr-19
6         17-Oct-17     05-Oct-45       19-Dec-18        01-Feb-18
7         14-Feb-18     11-Nov-46       25-Apr-19        25-Mar-19
8         08-Jul-18     17-Jul-49       10-Jan-25        26-Dec-24
9         05-Mar-19     07-May-49       08-Jan-25        25-Apr-19

In [194]:
account_df[dates].isnull().sum()

account_open_date    0
date_of_birth        0
last_debit_date      0
last_credit_date     0
dtype: int64

In [195]:
account_df[dates].value_counts()

account_open_date  date_of_birth  last_debit_date  last_credit_date
  -   -              -   -          -   -            -   -             196
23-May-74            -   -          -   -            -   -              16
  -   -              -   -          -   -          02-Jan-25            13
                                  02-Jan-25          -   -               9
                                  11-Jan-25          -   -               8
                                                                      ...
11-Dec-09          08-Jun-30      25-Apr-19        12-Apr-19             1
                   16-Nov-42      12-Feb-18        16-Jul-17             1
11-Dec-11            -   -        06-Nov-11        29-Jan-46             1
                                  18-Jun-15        08-Dec-14             1
31-Oct-18          29-Oct-43      11-Jan-25        08-Jan-25             1
Name: count, Length: 15990, dtype: int64

In [197]:
# Convert date columns to datetime

account_df[dates] = account_df[dates].apply(pd.to_datetime, format='%d-%b-%y', errors='coerce')

In [198]:
account_df[dates].value_counts()

account_open_date  date_of_birth  last_debit_date  last_credit_date
2000-11-29         2018-08-18     2025-01-05       2025-01-09          1
2015-09-02         2022-02-09     2019-04-10       2019-04-08          1
2015-08-27         2045-08-02     2015-10-14       2015-09-22          1
                   2048-10-19     2015-09-08       2015-08-27          1
2015-09-01         2038-01-30     2015-09-01       2015-09-01          1
                                                                      ..
2010-08-13         2044-07-07     2016-03-27       2014-09-18          1
                   2006-09-18     2019-04-24       2025-01-05          1
                   2001-05-15     2012-09-24       2012-04-30          1
2010-08-12         2049-10-10     2019-03-11       2019-03-11          1
2019-04-24         2035-01-01     2019-04-24       2019-04-24          1
Name: count, Length: 8810, dtype: int64

In [199]:
account_df[dates].isnull().sum()

account_open_date     433
date_of_birth        7470
last_debit_date       730
last_credit_date     2377
dtype: int64

In [201]:
# fill dates for empty values
# CHECK for actual CASE

account_df.fillna({'date_of_birth': '1970-01-01'}, inplace=True)
account_df.fillna({'account_open_date': '1970-01-01'}, inplace=True)
account_df.fillna({'last_debit_date': '1970-01-01'}, inplace=True)
account_df.fillna({'last_credit_date': '1970-01-01'}, inplace=True)

In [203]:
account_df[dates].info()

<class 'pandas.core.frame.DataFrame'>
Index: 16381 entries, 0 to 16382
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   account_open_date  16381 non-null  datetime64[ns]
 1   date_of_birth      16381 non-null  datetime64[ns]
 2   last_debit_date    16381 non-null  datetime64[ns]
 3   last_credit_date   16381 non-null  datetime64[ns]
dtypes: datetime64[ns](4)
memory usage: 639.9 KB

In [204]:
account_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16381 entries, 0 to 16382
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             16381 non-null  int32
 1   customer_name           16381 non-null  object
 2   nationality             16381 non-null  object
 3   residency_status        16381 non-null  object
 4   industry                16381 non-null  object
 5   sector                  16381 non-null  object
 6   branch                  16381 non-null  object
 7   account_type            16381 non-null  object
 8   account_number          16381 non-null  float32
 9   currency_code           16381 non-null  object
 10  category                16381 non-null  object
 11  account_balance         16381 non-null  float32
 12  local_currency_balance  16381 non-null  float32
 13  mobile_banking          16381 non-null  bool
 14  internet_banking        16381 non-null  bool
 15  account_service         16381 non-null  bool
 16  kyc_status              16381 non-null  bool
 17  account_inactive        16381 non-null  bool
 18  mobile_number           16381 non-null  float32
 19  account_open_date       16381 non-null  datetime64[ns]
 20  last_debit_date         16381 non-null  datetime64[ns]
 21  last_credit_date        16381 non-null  datetime64[ns]
 22  date_of_birth           16381 non-null  datetime64[ns]
dtypes: bool(5), datetime64[ns](4), float32(4), int32(1), object(9)
memory usage: 2.1+ MB

In [208]:
# Account Open Date
account_df['account_open_date'].dt.year.value_counts()[::10]

account_open_date
2017    3192
2019     784
2001      19
2028       3
1985       1
2069       1
Name: count, dtype: int64

In [209]:
account_df['account_open_date'].dt.month.value_counts()[::10]

account_open_date
1    1785
6    1105
Name: count, dtype: int64

In [211]:
account_df['account_open_date'].dt.day.value_counts()[::10]

account_open_date
22    951
17    510
28    442
31    259
Name: count, dtype: int64

In [218]:
account_df['account_open_date'].dt.month_name().value_counts()

account_open_date
January      1785
October      1675
November     1659
September    1564
December     1379
July         1277
April        1237
August       1230
March        1197
February     1188
June         1105
May          1085
Name: count, dtype: int64

In [219]:
account_df['account_open_date'].dt.day_name().value_counts()

account_open_date
Sunday       3518
Thursday     3333
Monday       2677
Wednesday    2347
Tuesday      2215
Friday       2172
Saturday      119
Name: count, dtype: int64

## Personal and Non Personal Accounts
## Date: Distribution